@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    box-sizing: border-box;
}
:root{
    --Greenlighter:hsl(148, 38%, 91%);
    --Greenmedium: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --Greymedium: hsl(186, 15%, 59%);
    --Greydarker: hsl(187, 24%, 22%);
}
h3{
    font-size:xx-large;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--Greydarker);
}
body{
    background-color: var(--Greenlighter);
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}
#mainContainer{
    position: relative;
    height: 100vh;
}
#secondMainContainer{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--White);
    border-radius: 24px;
    padding: 3%;

}
#names{
    display: flex;
    flex-direction: row;
}
fieldset {
    border: none;
    padding-left: 0;
    padding-right: 0;
}
input[name="firstName"]{
    margin-right: 0;
}
input {
    border-radius: 4px;
    border: solid 1px var(--Greenmedium);
    padding: 4%;
    margin-top: 15px;
    font-size: medium;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 5px;
}
.radioBtn{
    border: solid 1px var(--Greenmedium);
    min-width: 48%;
    padding: 2% 2% 2% 3%;
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 7px;
    margin-top: 10px;
    margin-right: 2%;
    accent-color: var(--Greenmedium);
}
.radioBtn:hover{
    background-color: var(--Greenlighter);
}
input[type="radio"]{
    margin-top: 0;
    margin-bottom: 0;
}
#radioBtn1{
 min-width: calc(48% + 8px);   
}
#radioBtn2{
    min-width: calc(48% - 1px);
}
#emailAddr{
    padding: 2% 2% 2% 3%;
}
#terms{
    accent-color: var(--Greenmedium);
    margin-right: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}
input[type="submit"]{
    background-color: var(--Greenmedium);
    color: var(--White);
    display: block;
    min-width: calc(98% + 6px);
    padding: 2%;
    border-radius: 9px;
}
input[type="submit"]:hover{
    background-color: #063f36;
}
input[type="checkbox"]{
    transform: scale(1.2);
}

@media (max-width: 1000px) and (portrait: portrait){
    #secondMainContainer{
        width: 95%;
        height: 100%;
        padding: 22px;
        border-radius: 15px;
    }
    #names{
        flex-direction: column;
    }
    #qry{
        flex-direction: column;
    }
}